*{
    padding: 0;
    margin: 0;

}
body{
    font-family: 'Poppins', sans-serif;
}
img{
        display: block;
        margin-left: auto;
        margin-right: auto;
         width: 30%;
}
.container{
    display: flex;
    flex-flow: row wrap;
}
#login{
    font-weight: 600;
    font-size: 1.2rem;
    background-color: rgb(181, 212, 239);
    margin-left: auto;
    margin-right: auto;
     width: 35%; 
    padding:10px 20px;
    text-align: center;
    border-radius: 5px 5px 0px 0px;
   
}

#login-card{
    display: block;
    padding: 15px 20px 15px 20px;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    background-color: aliceblue;
    text-align: center;
    border-radius: 0px 0px 5px 5px;
    margin-bottom: 40px;
}
#login-des p{
      text-align: none;
      display: block;
      padding: 15px 20px 0px 20px;
      margin-left: auto;
      margin-right: auto;
      width: 35%;
      background-color: aliceblue;
}
#login-card p{
    margin-top: 10px;
    margin-bottom: 10px;
}

.icons img{
    display: inline;
    width: 40px;
    margin: 10px 30px 0px 30px;
}
.user input{
      width: 50%;
      margin: 5px;
      padding: 5px;
      text-align: center;
      border-radius: 4px;
      border: none;
}
.btn input{
    width: 50%;
    margin: 5px;
    padding:8px ;
    border-radius: 5px;
    background-color: rgb(54, 54, 159);
    color: white;
    border: none;
    cursor: pointer;
    
}
.btn input:hover{
   background-color: rgb(79, 161, 233);
}
footer{
   background-color:rgb(207, 205, 205);
    text-align: center;
}


@media screen and ( max-width:900px ){
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
         width: 80%;
      }
      #login{
        font-weight: 600;
        font-size: 1.2rem;
        background-color: rgb(181, 212, 239);
        margin-left: auto;
        margin-right: auto;
         width: 85%; 
        padding:10px 20px;
        text-align: center;
        border-radius: 5px 5px 0px 0px;
       
    }
    
#login-card{
    display: block;
    padding: 15px 20px 15px 20px;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    background-color: aliceblue;
    text-align: center;
    border-radius: 0px 0px 5px 5px;
    margin-bottom: 40px;
}
#login-des p{
    text-align: none;
    display: block;
    padding: 15px 20px 0px 20px;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    background-color: aliceblue;
}
.user input{
    width: 50%;
    margin: 5px;
    padding: 5px;
    text-align: center;
    border-radius: 4px;
    border: none;
}
.btn input{
  width: 50%;
  margin: 5px;
  padding:8px ;
  border-radius: 5px;
  background-color: rgb(54, 54, 159);
  color: white;
  border: none;
  cursor: pointer;
  
}
}
